<h1>Users</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!users"><em>Loading...</em></p>

<table class='table' *ngIf="users">
    <thead>
        <tr>
            <th>Name</th>
            <th>User Role</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.role }}</td>
        </tr>
    </tbody>
</table>
