<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p>Current count: <strong>{{ currentCount }}</strong></p>
<p>Code: <strong>{{ secretCode }}</strong></p>

<div class="col-sm-3">
    <div class="row">
        <button (click)="incrementCounter()">Increment</button>
        <button (click)="decrementCounter()">Decrement</button>
    </div>
    <div class="row">
        <button (click)="factorialOfCounter()">Factorial</button>
        <button (click)="resetToZero()">0</button>
    </div>
    <div class="row">
        <input (keyup)="onKey($event)">
    </div>
    <div class="col-sm-3">
        <button (click)="cipher()">Cipher</button>
    </div>
</div>